commands
http_requests/gcp
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
chart/templates/secret.yaml
http_requests/gcp